* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: rgb(219, 236, 250);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	outline: none;
}

.container {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.calculator {
	background-color:  rgb(219, 236, 250);
	padding: 10px;
	border-radius: 30px;
	box-shadow: inset 5px 5px 12px #ffffff, 5px 5px 12px rgba(0,0,0,.16);
	display: grid;
	grid-template-columns: repeat(4,68px);
}

input{
	grid-column: span 4;
	height: 70px;
	width: 260px;
	background-color: #ecf0f3;
	box-shadow: inset -5px -5px 12px #ffffff, inset 5px 5px 12px rgba(0,0,0,.16);
	border: none;
	color: rgb(70, 70,70);
	font-size: 50px;
	text-align: end;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 20px;
	padding: 20px;
}

button{
	margin : 8px;
	height: 48px;
	width: 48px;
	background-color: #ecf0f3;
	box-shadow: -5px -5px 12px #ffffff, 5px 5px 12px rgba(0,0,0,.16);
	border: none;
	border-radius: 50%;
	font-size: 16px;
	cursor: pointer;
}

.equal {
	width: 115px;
	border-radius: 40px;
	background-color: #ecf0f3;
	box-shadow: inset -5px -5px 12px #ffffff, inset 5px 5px 12px rgba(0,0,0,.16);
}

h2{
	margin-left: 44%;
	margin-top: 30px;
	font-size: 30px;
	font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: 10;
	color: rgb(30, 68, 99);
}